{
    "arrowParens": "always",
    "printWidth": 80,
    "semi": false,
    "tabWidth": 4,
    "singleQuote": true,
    "bracketSpacing": true,
    "endOfLine": "lf",
    "htmlWhitespaceSensitivity": "css",
    "proseWrap": "always",
    "quoteProps": "consistent",
    "trailingComma": "all"
}
